bitsandbytes
colorama
faiss-cpu
fastapi
duckduckgo-search
huggingface-hub
uvicorn
joblib
langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-xai
rich
langgraph
langgraph-checkpoint-sqlite
numpy
pydantic
requests
scikit-learn
scipy
sentence-transformers
tavily-python
tqdm
wikipedia
langchain-core